@page "/projects"
@page "/projects/{initiativeId:int}"
@using System.IO
@using OfficeOpenXml
@using blazormovie.Client.Pages.Client
@using blazormovie.Client.Pages.Groups
@using iText.IO.Font.Constants
@using iText.Kernel.Font
@using iText.Layout
@using iText.Layout.Element
@using iText.Pdfa;
@using iText.Kernel.Pdf;
@inject IProjectService ProjectService
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inject IJSRuntime jsRuntime;
@using blazormovie.Client.Pages.Initiative
@using blazormovie.Client.Pages.Project
@using blazormovie.Client.Pages.POSPay
@inject IInitiativeService InitiativeService
@inject IPOSPayService POSPayService
@inject ISnackbar Snackbar
@inject IClientService ClientService
@inject IGroupsService groupsService






<MudGrid>

    <MudItem xs="12" sm="12" md="12">
        <MudTable ServerData="@(new Func<TableState, Task<TableData<Project>>>(LoadTodos))"   Hover="true"  @ref="table">

        <ToolBarContent>
            <MudText Typo="Typo.h6">Projects</MudText>
            <MudSpacer />

            <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                            AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    
            
            <MudMenu Icon="@Icons.Material.Filled.Settings" Color="Color.Primary">
                <MudMenuItem OnClick="@(NewGroup)" >New Work Team</MudMenuItem>
                <MudMenuItem OnClick="@(NewClient)" >New Client</MudMenuItem>
                <MudMenuItem OnClick="@(NewInitiative)" >New Initiative</MudMenuItem>
                <MudMenuItem OnClick="@(NewProject)">New Project</MudMenuItem>
                <MudMenuItem OnClick="@(NewPay)">New PO</MudMenuItem>
            </MudMenu>

            <MudMenu Icon="@Icons.Material.Filled.Computer" Color="Color.Success">
                <a @onclick="exportarPdf" class= "btn btn-secondaryPdf" href="@pdf">PDF</a>
                <a @onclick="exportarExcel" class= "btn btn-secondary" href="@excel">Excel</a>
            </MudMenu>

        </ToolBarContent>

        <HeaderContent>
            <MudTh><MudTableSortLabel SortLabel="id_field" T="Project">Id</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="name_field" T="Project">Name</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="des_field" T="Project">Description</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="amo_field" T="Project">Amount Defined</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="tot_field" T="Project">Number of POs</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="iniName_field" T="Project">Initiative</MudTableSortLabel></MudTh>
            <MudTh></MudTh>
            <MudTh></MudTh>
        </HeaderContent>

        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>

            <MudTd DataLabel="Desc">  <a href="/pospays/@context.Id">@context.Name</a></MudTd>

            <MudTd DataLabel="Nrmt">@context.Description</MudTd>
            <MudTd DataLabel="Pay"  Style="text-align:center">@context.AmountDefined.ToString("N2") €</MudTd>
            <MudTd DataLabel="Tto">@context.TotalPays</MudTd>
            <MudTd DataLabel="Ini">@context.InitiativeName</MudTd>
            <MudTd>
                <MudFab OnClick="@(() => Edit(context.Id))"
                        Color="Color.Primary"
                        Icon="@Icons.Material.Filled.Edit"
                        Size="Size.Small"
                        IconSize="Size.Small">
                </MudFab>
            </MudTd>
            <MudTd>
                <MudFab OnClick="@(() => Delete(context.Id))"
                        Color="Color.Secondary"
                        Icon="@Icons.Material.Filled.Delete"
                        Size="Size.Small"
                        IconSize="Size.Small">
                </MudFab>
            </MudTd>
        </RowTemplate>


        <PagerContent>
            <MudTablePager PageSizeOptions="pageSizeOptions"></MudTablePager>
        </PagerContent>

        </MudTable>
    </MudItem>
</MudGrid>	



@code {

    [Parameter] 
    public int initiativeId { get; set; }


    public List<Project> Projects;
    public string Message { get; set; }
    public string excel = "";
    public string pdf = "";



    //private int[] pageSizeOptions = new int[] { 5, 10, 15 };
    private int[] pageSizeOptions = new int[] { 15 };

    private MudTable<Project> table;

    private IEnumerable<Project> DataPrint = new List<Project>();

    private string searchString = null;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        table.SetRowsPerPage(15);
        return base.OnAfterRenderAsync(firstRender);
    }

    public async Task<TableData<Project>> LoadTodos(TableState state)
    {

        ProjectPagination response = new ProjectPagination();

        if (initiativeId > 0)
        {
            response = await ProjectService.GetByPaginationAndInitiativeId((state.Page + 1), state.PageSize, initiativeId);
        }
        else
        {
            response = await ProjectService.GetByPagination((state.Page + 1), state.PageSize);
        }
         

        response.Data = response.Data.Where(element =>
        {
            if (string.IsNullOrWhiteSpace(searchString))
                return true;
            if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            if (element.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            if ($"{element.AmountDefined}".Contains(searchString))
                return true;
            if ($"{element.InitiativeName}".Contains(searchString, StringComparison.OrdinalIgnoreCase))
                return true;
            return false;
        }).ToArray();
        //totalItems = data.Count();
        switch (state.SortLabel)
        {
            case "id_field":
                response.Data = response.Data.OrderByDirection(state.SortDirection, o => o.Id);
                break;
            case "name_field":
                response.Data = response.Data.OrderByDirection(state.SortDirection, o => o.Name);
                break;
            case "des_field":
                response.Data = response.Data.OrderByDirection(state.SortDirection, o => o.Description);
                break;
            case "amo_field":
                response.Data = response.Data.OrderByDirection(state.SortDirection, o => o.AmountDefined);
                break;
            case "tot_field":
                response.Data = response.Data.OrderByDirection(state.SortDirection, o => o.TotalPays);
                break; 
            case "iniName_field":
                response.Data = response.Data.OrderByDirection(state.SortDirection, o => o.InitiativeName);
                break;
        }


        DataPrint = response.Data;
        return new TableData<Project>() { Items = response.Data, TotalItems = response.TotalRecords };
    }


    private void OnSearch(string text)
    {
        searchString = text;
        table.ReloadServerData();
    }

    protected async Task Edit(int id)
    {
        //creamos objeto dialogparameters para pasarle parametros a la vista modal
        DialogParameters oParam = new DialogParameters();
        oParam.Add("iProjectId",id);
        var dialog = DialogService.Show<ProjectModal>("Edit Project",oParam,null);

        var result = await dialog.Result;   //Hilo de ejecucion espera el resultado

        if(!result.Cancelled)
        {
            var Project = (Project)result.Data;
            if (Project.Name != null)
            {
                Project.Id = id;
                await ProjectService.SaveProject(Project);
                table.ReloadServerData();
                Snackbar.Add("Project has been modified.", MudBlazor.Severity.Success, a => a.VisibleStateDuration = 400);
            }
        }
    }

    protected async Task Delete(int id)
    {
        Project projectfound = new Project();
        projectfound = DataPrint.Where(a => a.Id == id).FirstOrDefault();
        if (projectfound.TotalPays > 0)
        {
            Snackbar.Add("You can only delete a project without PO", MudBlazor.Severity.Error, a => a.VisibleStateDuration = 400);
            return;
        }
        await ProjectService.DeleteProject(id);
        table.ReloadServerData();
        Snackbar.Add("The project has been deleted.", MudBlazor.Severity.Success, a => a.VisibleStateDuration = 400);
    }
    protected async Task NewClient()
    {
        var dialog = DialogService.Show<ClientModal>("New Client");
        var result = await dialog.Result;   //Hilo de ejecucion espera el resultado

        if(!result.Cancelled)
        {
            var Client = (Client)result.Data;
            if (Client.Name != null)
            {
                await  ClientService.Save(Client);
                table.ReloadServerData();
                Snackbar.Add("The Client has been added.", MudBlazor.Severity.Success, a => a.VisibleStateDuration = 400);
            }
        }

    }
    protected async Task NewGroup()
    {
        var dialog = DialogService.Show<GroupsModal>("New Group");
        var result = await dialog.Result;   //Hilo de ejecucion espera el resultado

        if(!result.Cancelled)
        {
            var Group = (Group)result.Data;
            if (Group.Name != null)
            {
                await  groupsService.Save(Group);
                table.ReloadServerData();
                Snackbar.Add("The Group has been added.", MudBlazor.Severity.Success, a => a.VisibleStateDuration = 400);
            }
        }

    }


    public void exportarPdf()
    {
        using (MemoryStream ms = new MemoryStream())
        {
            PdfWriter writer = new PdfWriter(ms);
            using(var pdfDoc = new PdfDocument(writer))
            {
                //Rellenar Pdf
                Document doc = new Document(pdfDoc);
                Paragraph p1 = new Paragraph("Report");
                p1.SetTextAlignment(iText.Layout.Properties.TextAlignment.CENTER);
                p1.SetFontSize(20);
                doc.Add(p1);
                //creamos las cabeceras
                PdfFont font = PdfFontFactory.CreateFont(StandardFonts.HELVETICA_BOLD);
                Table tabla = new Table(4).UseAllAvailableWidth();
                Cell celda = new Cell().SetBackgroundColor(iText.Kernel.Colors.ColorConstants.LIGHT_GRAY);
                celda.Add(new Paragraph("Name")).SetFont(font);
                tabla.AddHeaderCell(celda);
                celda = new Cell().SetBackgroundColor(iText.Kernel.Colors.ColorConstants.LIGHT_GRAY);
                celda.Add(new Paragraph("Description")).SetFont(font);
                tabla.AddHeaderCell(celda);
                celda = new Cell().SetBackgroundColor(iText.Kernel.Colors.ColorConstants.LIGHT_GRAY);
                celda.Add(new Paragraph("Amount Defined")).SetFont(font);
                tabla.AddHeaderCell(celda);
                celda = new Cell().SetBackgroundColor(iText.Kernel.Colors.ColorConstants.LIGHT_GRAY);
                celda.Add(new Paragraph("Number of Pays")).SetFont(font);
                tabla.AddHeaderCell(celda);
                foreach(var item in DataPrint)
                {
                    celda = new Cell();
                    celda.Add(new Paragraph(item.Name.ToString()));
                    tabla.AddCell(celda);
                    celda = new Cell();
                    celda.Add(new Paragraph(item.Description.ToString()));
                    tabla.AddCell(celda);
                    celda = new Cell();
                    celda.SetHorizontalAlignment(iText.Layout.Properties.HorizontalAlignment.RIGHT);
                    celda.Add(new Paragraph(item.AmountDefined.ToString("N2")+" €"));
                    tabla.AddCell(celda);
                    celda = new Cell();
                    celda.Add(new Paragraph(item.TotalPays.ToString()));
                    tabla.AddCell(celda);
               
                }
                doc.Add(tabla);
                //liberamos memoria
                doc.Close();
                writer.Close();
                //para descargar
                byte[] buffer = ms.ToArray();
                string base64 = Convert.ToBase64String(buffer);
                pdf = "data:application/pdf;base64,"+base64;
                jsRuntime.InvokeVoidAsync("descargarPdf", pdf);
            }
        }
    }

    public void exportarExcel()
    {
        ExcelPackage.LicenseContext = LicenseContext.NonCommercial;
        using(MemoryStream ms = new MemoryStream())
        {
            using (ExcelPackage ep = new ExcelPackage())
            {
                ep.Workbook.Worksheets.Add("hoja");
                //solo para una hoja
                ExcelWorksheet ew = ep.Workbook.Worksheets[0];
                ew.Column(1).Width = 50;
                ew.Cells[1, 1].RichText.Add("Name").Bold = true;
                ew.Column(2).Width = 50;
                ew.Cells[1, 2].RichText.Add("Description").Bold = true;
                ew.Column(3).Width = 50;
                ew.Cells[1, 3].RichText.Add("AmountDefined").Bold =true ;
                ew.Column(4).Width = 50;
                ew.Cells[1, 4].RichText.Add("Number of Pays").Bold =true ;
                int fila = 2;
                int colum = 1;
                //List<Initiative> ltInis = Initiatives.ToList();
                foreach(var item in DataPrint)
                {

                    ew.Cells[fila, 1].Value = item.Name.ToString();
                    ew.Cells[fila, 2].Value = item.Description.ToString();
                    ew.Cells[fila, 3].Value = item.AmountDefined.ToString();
                    ew.Cells[fila, 4].Value = item.TotalPays.ToString();
                    fila++;
                }

                ep.SaveAs(ms);
                byte[] buffer = ms.ToArray();
                string base64 = Convert.ToBase64String(buffer);
                excel = "data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64," + base64;
            }

        }
    }

    protected async Task NewInitiative()
    {
        var dialog = DialogService.Show<InitiativeModal>("New Initiative");
        var result = await dialog.Result;   //Hilo de ejecucion espera el resultado

        if(!result.Cancelled)
        {
            var Initiative = (Initiative)result.Data;
            if (Initiative.Name != null)
            {
                await  InitiativeService.SaveInitiative(Initiative);
                Snackbar.Add("The Initiative has been added.", MudBlazor.Severity.Success, a => a.VisibleStateDuration = 400);
            }
            
        }

    }

    protected async Task NewProject()
    {
        var dialog = DialogService.Show<ProjectModal>("New Project");
        var result = await dialog.Result;   //Hilo de ejecucion espera el resultado

        if(!result.Cancelled)
        {
            var Project = (Project)result.Data;
            if (Project.Name != null)
            {
                await ProjectService.SaveProject(Project);
                table.ReloadServerData();
                Snackbar.Add("The Project has been added.", MudBlazor.Severity.Success, a => a.VisibleStateDuration = 400);
            }
        }

    }

    
    protected async Task NewPay()
    {
        var dialog = DialogService.Show<POSPayModal>("New POSPay");
        var result = await dialog.Result;   //Hilo de ejecucion espera el resultado

        if(!result.Cancelled)
        {
            var pOSPay = (POSPay)result.Data;
            if (pOSPay.IdInitiative != null)
            {
                await  POSPayService.SavePOSPay(pOSPay);
                table.ReloadServerData();
                Snackbar.Add("The PO has been added.", MudBlazor.Severity.Success, a => a.VisibleStateDuration = 400);
            }
            
        }
    }


}
