@page "/projects"
@using System.IO
@using OfficeOpenXml
@using iText.IO.Font.Constants
@using iText.Kernel.Font
@using iText.Layout
@using iText.Layout.Element
@using iText.Pdfa;
@using iText.Kernel.Pdf;
@inject IProjectService ProjectService
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@inject IJSRuntime jsRuntime;
<p>@Message</p>


@if (Projects != null && Projects.Any())
{
    <a @onclick="exportarPdf" class= "btn btn-secondaryPdf" href="@pdf">PDF</a>
    <a @onclick="exportarExcel" class= "btn btn-secondary" href="@excel">Excel</a>

     <MudTable Items="@Projects" Hover="true" Breakpoint="Breakpoint.Sm">
        <ToolBarContent>
                
            <MudText Typo="Typo.h6">Projects</MudText>
            <MudSpacer />
            
            <MudFab OnClick="@(NewProject)"
                    Color="Color.Primary"
                    Icon="@Icons.Material.Filled.Add"
                    Size="Size.Small"
                    IconSize="Size.Small">
            </MudFab>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Amount Defined</MudTh>
            <MudTh>Number of POs</MudTh>
            <MudTh>
                
            </MudTh>
            <MudTh></MudTh>
            
        </HeaderContent>
        <RowTemplate Context="ProjectContext">
            <MudTd DataLabel="Name">@ProjectContext.Name</MudTd>
            <MudTd DataLabel="Description">@ProjectContext.Description</MudTd>
            <MudTd DataLabel="AmountDefined">@ProjectContext.AmountDefined.ToString("C")</MudTd>
            <MudTd DataLabel="Number of Pays">@ProjectContext.POSPays.Count().ToString()</MudTd>

            <MudTd DataLabel="">
                <MudFab OnClick="@(() => Edit(ProjectContext.Id))"
                        Color="Color.Primary"
                        Icon="@Icons.Material.Filled.Edit"
                        Size="Size.Small"
                        IconSize="Size.Small">
                </MudFab>
            </MudTd>
            <MudTd DataLabel="">
                <MudFab OnClick="@(() => Delete(ProjectContext.Id))"
                        Color="Color.Secondary"
                        Icon="@Icons.Material.Filled.Delete"
                        Size="Size.Small"
                        IconSize="Size.Small">
                </MudFab>
            </MudTd>
        </RowTemplate>
     </MudTable>
}


@code {

    public List<Project> Projects;
    public string Message { get; set; }
    public string excel = "";
    public string pdf = "";
    protected async override Task OnInitializedAsync()
    {
        try
        {
            Projects = (List<Project>)await ProjectService.GetProjects();
        }
        catch (Exception e)
        {

            Message = "Error... " + e.Message;
        }
    }

    protected async Task Edit(int id)
    {
        NavigationManager.NavigateTo($"/projectdetail/{id}");
    }

    protected async Task Delete(int id)
    {
        //await ProjectService.DeleteOrder(id);
        //Orders.RemoveAll(p => p.Id == id);
    }

    protected async Task NewProject()
    {
        var dialog = DialogService.Show<ProjectModal>("New Project");
        var result = await dialog.Result;   //Hilo de ejecucion espera el resultado

        if(!result.Cancelled)
        {
            var Project = (Project)result.Data;
            if (Project.Name != null)
                await ProjectService.SaveProject(Project);
        }
        Projects = (List<Project>)await ProjectService.GetProjects();
    }
    public void exportarPdf()
    {
        using (MemoryStream ms = new MemoryStream())
        {
            PdfWriter writer = new PdfWriter(ms);
            using(var pdfDoc = new PdfDocument(writer))
            {
                //Rellenar Pdf
                Document doc = new Document(pdfDoc);
                Paragraph p1 = new Paragraph("Report");
                p1.SetTextAlignment(iText.Layout.Properties.TextAlignment.CENTER);
                p1.SetFontSize(20);
                doc.Add(p1);
                //creamos las cabeceras
                PdfFont font = PdfFontFactory.CreateFont(StandardFonts.HELVETICA_BOLD);
                Table tabla = new Table(4).UseAllAvailableWidth();
                Cell celda = new Cell().SetBackgroundColor(iText.Kernel.Colors.ColorConstants.LIGHT_GRAY);
                celda.Add(new Paragraph("Name")).SetFont(font);
                tabla.AddHeaderCell(celda);
                celda = new Cell().SetBackgroundColor(iText.Kernel.Colors.ColorConstants.LIGHT_GRAY);
                celda.Add(new Paragraph("Description")).SetFont(font);
                tabla.AddHeaderCell(celda);
                celda = new Cell().SetBackgroundColor(iText.Kernel.Colors.ColorConstants.LIGHT_GRAY);
                celda.Add(new Paragraph("Amount Defined")).SetFont(font);
                tabla.AddHeaderCell(celda);
                 celda = new Cell().SetBackgroundColor(iText.Kernel.Colors.ColorConstants.LIGHT_GRAY);
                celda.Add(new Paragraph("Number of Pays")).SetFont(font);
                tabla.AddHeaderCell(celda);
                foreach(var item in Projects)
                {
                    celda = new Cell();
                    celda.Add(new Paragraph(item.Name.ToString()));
                    tabla.AddCell(celda);
                    celda = new Cell();
                    celda.Add(new Paragraph(item.Description.ToString()));
                    tabla.AddCell(celda);
                    celda = new Cell();
                    celda.SetHorizontalAlignment(iText.Layout.Properties.HorizontalAlignment.RIGHT);
                    celda.Add(new Paragraph(item.AmountDefined.ToString("N2")+" €"));
                    tabla.AddCell(celda);
                    celda = new Cell();
                    celda.Add(new Paragraph(item.POSPays.Count().ToString()));
                    tabla.AddCell(celda);
                }
                doc.Add(tabla);
                //liberamos memoria
                doc.Close();
                writer.Close();
                //para descargar
                byte[] buffer = ms.ToArray();
                string base64 = Convert.ToBase64String(buffer);
                pdf = "data:application/pdf;base64,"+base64;
                jsRuntime.InvokeVoidAsync("descargarPdf", pdf);
            }

        }
    }

    public void exportarExcel()
    {
        using(MemoryStream ms = new MemoryStream())
        {
            using (ExcelPackage ep = new ExcelPackage())
            {
                ep.Workbook.Worksheets.Add("hoja");
                //solo para una hoja
                ExcelWorksheet ew = ep.Workbook.Worksheets[0];
                ew.Column(1).Width = 50;
                ew.Cells[1, 1].RichText.Add("Name").Bold = true;
                ew.Column(2).Width = 50;
                ew.Cells[1, 2].RichText.Add("Description").Bold = true;
                ew.Column(3).Width = 50;
                ew.Cells[1, 3].RichText.Add("AmountDefined").Bold =true ;
                ew.Column(4).Width = 50;
                ew.Cells[1, 4].RichText.Add("Number of Pays").Bold =true ;
                int fila = 2;
                int colum = 1;
                //List<Initiative> ltInis = Initiatives.ToList();
                foreach(var item in Projects)
                {

                    ew.Cells[fila, 1].Value = item.Name.ToString();
                    ew.Cells[fila, 2].Value = item.Description.ToString();
                    ew.Cells[fila, 3].Value = item.AmountDefined.ToString();
                    ew.Cells[fila, 4].Value = item.TotalPays.ToString();
                    fila++;
                }

                ep.SaveAs(ms);
                byte[] buffer = ms.ToArray();
                string base64 = Convert.ToBase64String(buffer);
                excel = "data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64," + base64;
            }
         
        }
    }
}
