@page "/initiativedetails"
@page "/initiativedetails/{id:int}"
@inject IInitiativeService InitiativeService
@inject NavigationManager NavigationManager
@inject IDialogService DialogService


<p>@Message</p>


    <EditForm Model=@Initiative  OnValidSubmit="SaveInitiative">

        <div class="card">
            <h5 class="card-header">Initiative Details</h5>
            @*cuerpo de la clase*@
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 mb-3">

                        </div>
                         <div class="col-md-4 mb-3">
                             
                        </div>
                         <div class="col-md-4 mb-3">
                             <input type="submit" class="btn btn-secondary" value="Cancel" @onclick="Cancel"/>
                        </div>
                    </div>
              

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="">Name</label>
                            <InputText class="form-control" @bind-Value="@Initiative.Name" />
                        </div>
                        
                        <div class="col-md-6 mb-3">
                            <label for="">Description</label>
                            <InputText class="form-control" @bind-Value="@Initiative.Description" />
                        </div>
                    </div>


                    <div class="row">
           
                        <div class="col-md-4 mb-3">

                        </div>
                        <div class="col-md-4 mb-3">
                        </div>
@*                        <div class="col-md-4 mb-3">
                                <input type="submit" class="btn btn-secondary" value="New Initiative" @onclick="NewInitiative"/>
                        </div>*@
                    </div>


                </div>

            </div>
        </div>

        @if(Initiative.Projects != null && Initiative.Projects.Any())
        {
            <MudTable Items="@Initiative.Projects" Hover = "true" Breakpoint="Breakpoint.Sm">
                 <ToolBarContent>
                     <MudText typeof="Typo.h6">Projects per Initiative</MudText>
                 </ToolBarContent>
                 <HeaderContent>
                     <MudTh>Name</MudTh>
                     <MudTh>Description</MudTh>
                     <MudTh>Amount Defined</MudTh>
                 </HeaderContent>
                 <RowTemplate Context="ProjectsContext">
                     <MudTd DataLabel="Name">@ProjectsContext.Name</MudTd>
                     <MudTd DataLabel="Price">@ProjectsContext.Description </MudTd>
                     <MudTd DataLabel="Quantity">@ProjectsContext.AmountDefined </MudTd>
                 </RowTemplate>
             </MudTable>
        }



    </EditForm>



@code {

    public Initiative Initiative;

    public string Message  { get; set; }

    [Parameter] 
    public int id { get; set; }

    protected async override Task OnInitializedAsync()
    {
        try
        {
            if (id >0)
            {
                Initiative = new Initiative();
                Initiative = await InitiativeService.GetById(1);
            }
            else
            {
                Initiative = new Initiative();
            }



        }
        catch(Exception e)
        {
            Message = "There was an error..." + e.Message;
        }
    }
    protected async Task SaveInitiative()
    {
        await InitiativeService.SaveInitiative(Initiative);
        if(Initiative.Name!= null)
        {
            NavigateToHome();
        }
        
    }

    private void NavigateToHome()
    {
        NavigationManager.NavigateTo("/initiative");
    }

    protected void Cancel()
    {
        NavigateToHome();
    }


}
